# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/

# Testing
.pytest_cache/

# Type checking
.mypy_cache/

# IDE
.vscode/

# Training runs & data
run_dirs/
run_dirs
data/
data

# Config files (allow example configs only)
configs/*
!configs/example
